@import '../../styles/theme.scss';
.quiz-container {
  text-align: center;
  margin-top: 20px;

  h1 {
    font-size: 2.5em;
    color: $primary-color;
    margin-bottom: 20px;
  }

  .feedback-message {
    font-size: 1.5em;
    color: $success-color;
    margin: 20px 0;
  }

  .progress-bar {
    width: 100%;
    background-color: $secondary-light-color;
    border-radius: 5px;
    overflow: hidden;
    margin: 20px 0;

    .progress {
      height: 20px;
      background-color: $primary-color;
      transition: width 0.3s ease;
    }
  }
}
