<div *ngIf="!showResult">
  <div class="progress-bar-container">
    <div class="progress-bar" [style.width.%]="progress"></div>
    <div class="progress-percentage">{{ progress | number: '1.0-0' }}%</div>
  </div>
  <div *ngIf="feedbackMessage" class="feedback-message" @slideIn>{{ feedbackMessage }}</div>
  <app-question
    *ngIf="currentQuestionIndex < questions.length"
    [question]="questions[currentQuestionIndex]"
    [currentQuestionIndex]="currentQuestionIndex"
    [totalQuestions]="questions.length"
    (answered)="onAnswer($event)"
    @slideIn
  ></app-question>
</div>
<div *ngIf="showResult">
  <app-result [score]="score" [totalQuestions]="questions.length" [topic]="topic" (restart)="restart()" (topicSelected)="selectTopic($event)"></app-result>
</div>
