<div class="quiz-container">
  <h1>{{ topic | titlecase }} Quiz</h1>
  <div *ngIf="!showResult && !showSummary">
    <app-question 
      [@slideIn]
      [question]="questions[currentQuestionIndex]" 
      [currentQuestionIndex]="currentQuestionIndex" 
      [totalQuestions]="questions.length" 
      (answered)="onAnswer($event)" 
      (next)="nextQuestion()"
    ></app-question>
    <div class="feedback-message">{{ feedbackMessage }}</div>
    <div class="progress-bar">
      <div class="progress" [style.width.%]="progress"></div>
    </div>
  </div>
  <div *ngIf="showSummary && !showResult">
    <app-topic-summary
      [topic]="topic"
      [questions]="questions"
      [userAnswers]="userAnswers"
      (restartQuiz)="restart()"
      (goToHome)="goToHome()"
      (summaryComplete)="onSummaryComplete()"
    ></app-topic-summary>
  </div>
  <div *ngIf="showResult">
    <app-result 
      [score]="score" 
      [totalQuestions]="questions.length" 
      [topic]="topic"
      (restart)="restart()" 
      (selectTopic)="selectTopic($event)"
      (goToHome)="goToHome()"
    ></app-result>
  </div>
</div>
