@import '../../styles/theme.scss';

.question-container {
  background-color: $secondary-light-color;
  border-radius: 5px;
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
  text-align: left;

  h2 {
    font-size: 1.5em;
    color: $primary-dark-color;
    margin-bottom: 20px;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      background-color: $primary-color;
      color: $primary-light-color;
      padding: 15px;
      margin: 10px 0;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: $primary-dark-color;
      }
    }
  }

  .explanation {
    margin-top: 20px;
    font-size: 1.2em;
    color: $text-color;
  }

  .feedback-message {
    font-size: 1.5em;
    color: $success-color;
    margin: 20px 0;
  }

  .progress-bar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;

    .progress-bar {
      width: 80%;
      background-color: $secondary-light-color;
      border-radius: 5px;
      overflow: hidden;
      height: 20px;

      .progress {
        height: 100%;
        background-color: $primary-color;
        transition: width 0.3s ease;
      }
    }

    .progress-percentage {
      font-size: 1em;
      color: $primary-dark-color;
      width: 20%;
      text-align: right;
    }
  }

  .next-button {
    background-color: $primary-color;
    color: $primary-light-color;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 20px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $primary-dark-color;
    }

    &:disabled {
      background-color: $secondary-color;
      cursor: not-allowed;
    }
  }
}
